.placement {
    margin-bottom: 70px;
}

.placement-cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(6, 1fr);
}
.placement-card {
    grid-column: span 2;
}
.placement-card__img {
    border-radius: 15px 15px 0px 0px;
}
.placement-card__img_border {
    border-radius: 15px;
}
.placement-card__wrap {
    padding: 32px 45px 58px 45px;

    border-radius: 0px 0px 15px 15px;
    background-color: #fff;
}
.placement-card__row {
}
.placement-card__price {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.placement-card__price_1 {
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}
.placement-card__price_2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    color: #000000;
}
.placement-card__name {
    margin-bottom: 16px;
}
.placement-card__city {
    margin-bottom: 33px;
    color: #999999;
}
.placement-card__placement {
}
.placement-card_all {
    position: relative;
}
.placement-card__placement-all {
    position: absolute;
    z-index: 1;
    left: 54px;
    bottom: 27px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #ffffff;

    &::after {
        content: url("/img/icons/arrow-w.png");
        position: absolute;
        transform: translate(8px, 4px);
    }
    &:hover::after {
        content: url("/img/icons/arrow-b.jpg");
    }
}

.placement-card:hover .link {
    color: var(--focusColor);
}
// .placement-card:hover::after {
//     content: url("/img/icons/arrow-b.jpg");
// }
.placement-card:hover .button {
    background-color: var(--hoverColor);
    color: var(--textWhite);
}
