.special {
    margin-bottom: 70px;
}
.special__title {
}

.special__title {
}
.special-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 258px 258px;
    gap: 24px;
    // grid-auto-flow: column dense;
    grid-template-areas:
        "special-card__1 special-card__3"
        "special-card__2 special-card__3";
    border-radius: 15px;
}
.special-card {
    padding: 40px;
    border-radius: 15px;
}
// .special-card_s {
//     grid-column: span 3;
// }
// .special-card_m {
//     grid-column: span 3;
//     grid-row: span 2;
// }
.special-card_m {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.special-card__1 {
    grid-area: special-card__1;
    grid-column: span 3;
    background: url("../img/main/special/maldives.jpg") center center no-repeat;
}
.special-card__2 {
    grid-area: special-card__2;
    grid-column: span 3;
    background: url("img/main/special/сrete.jpg") center center no-repeat;
}

.special-card__3 {
    grid-area: special-card__3;
    grid-column: span 3;
    // grid-row: span 2;
    background: url("/img/main/special/suite-room.jpg") center center no-repeat;
}

.special-card__img {
    border-radius: 15px;
}

.special-card__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;

    color: var(--textWhite);
}
.special-card__title_m {
    font-size: 60px;
    line-height: 60px;
}
.special-card__title_b {
    min-width: 400px;
}
.special-card__price {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    color: var(--textWhite);
    opacity: 0.8;
}

.special-card__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffcc66;
}
